body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: #333;
    transition: .3s;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid black;
}

p {
    line-height: 1.6;
}